/** Using some colors from pallet: http://www.colourlovers.com/palette/1090282/okay_so_i_lied */

* { /** Bad practice */
  color: #1E0C42;
}

html {
  background: url(bg.png);
  background-size: 400pt auto;
  background-repeat: no-repeat;
  background-position: right 0px top;
  background-color: #37ced6;
}

body {
  margin: 0;
  padding: 6pt;
}

h2 {
  margin-left: 8pt;
  font-weight: normal;
  cursor: pointer;
}

h2>a {
  color: black;
  text-decoration: none;
}

pre>code {
  height: 240px;
  overflow-y: scroll;
}

tr.current {
  background-color: #ffffff;
}
tr.history {
  background-color: #d0d0d0;
}

.hidden {
  display: none;
}

pre.iframe-like {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 6pt 8pt;
  overflow-y: scroll;
}

iframe, .iframe-like {
  background-color: white;
  border: solid;
  border-color: #606060;
  border-radius: 2pt;
  border-width: 1px;
  width: 600pt;
}

iframe.doc.halfPage, .iframe-like.doc.halfPage {
  height: 500pt;
}
iframe.doc.page1, .iframe-like.doc.page1 {
  height: 1000pt;
}
iframe.doc.page2, .iframe-like.doc.page2 {
  height: 2000pt;
}

form {
  padding: 12pt 24pt;
}

form, p, input {
  font-family: monospace;
}
table {
  border-collapse: collapse;
  margin-bottom: 64px;
}
td, th {
  padding: 6px 8px;
  border: 1px solid #c0c0c0;
}
hr {
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
}


